html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(204, 113, 96);
}

:root {
    box-sizing: border-box;
}

.heading {
    color: rgb(20, 80, 105);
    font-size: 45px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 8px;  
}

.container {
    background-color: white;
    margin: 15px;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border: 4px solid black;

}

.box {
    height: 150px;
    width: 150px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 100px;
}

.box:hover {
    background-color: rgba(20, 80, 105, 0.219);
}

.player-one {
    position: absolute;
    left: 150px;
}

.player-two {
    position: absolute;
    right: 200px;
}

.player-one,
.player-two {
    font-size: 30px;
}

.display {
  text-align: center;  
}

button {
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(20, 80, 105);
    font-size: 25px;
}
